/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

/* COMMON */
.container{
    width: 100%;
    margin: 0 auto;
    border: 1px dashed black;
    /* Per i monitor landscape si usa max-width altrimenti sarà tutto dilatato */
    max-width: 1000px;
}

section{
    width: 100%;
    padding: 10px 0px;
}

ul{
    list-style-type: none;
}

.button{
    padding: 12px 20px;
    border-radius: 25px;
}

/* HEADER */
header{
    display: flex;
    height: 70px;
    background-color: #255EE9;
    /* Per centrare in verticale, nell'header che spesso hanno un'altezza fissa, si usa line-height */
    line-height: 70px;
    min-height: 50px;
    padding: 10px 0px;

}

.menu{
    display: flex;
    align-items: center;
}

.link-c ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-c ul li{
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.menu > div{
    /* debug */
    /* border: 1px dashed black; */
}

.logo-c{
    width: 20%;
    padding-left: 10px;
}

.logo-c img{
    display: flex;
}

.login-c{
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.link-c{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}

.login{
    font-weight: 600;
    background-color: white;
}

/* MAIN */

/* Top Section */
.top-s{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;

    /* debug */
    height: 600px;
}

/* only top-s content */
.top-content{
    width: 40%;
    margin: 250px auto;
    border: 1px dashed black;
    text-align: center;
    color: white;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.top-content > p{
    line-height: 30px;
    font-size: 20px;
}

.top-content > div {
    margin-top: 20px;

}

.white{
    margin: 0px 20px;
    color: #23272A;
    font-size: 20px;
    background-color: white;
}

.black{
    margin: 0px 20px;
    color: white;
    font-size: 20px;
    background-color: #23272A;
}

/* Sezioni dispari */
.odd{
    background-color: lemonchiffon;
}

/* Sezioni pari */
.even{
    background-color: grey;
}

.main{
    display: flex;
    border: 1px dashed black;

    /* debug */
    height: 250px;
}

.right-content{
    width: 60%;

    /* debug */
    background-color: yellow;
}

.left-content{
    width: 40%;
    
    /* debug */
    background-color: green;
}

.reverse{
    flex-direction: row-reverse;
}

/* only bottom-s content */
.bottom-content{
    /* debug */
    height: 500px;
    background-color: tomato;
}

/* FOOTER */
footer{
    background-color: rgb(29, 35, 35);
    width: 100%;


}

/* Top Section of the footer */
.top-bottom-c{
    display: flex;
    height: 200px;
}

.col-30{
    background-color: red;
    width: 30%;

}

.col-70{
    background-color: yellowgreen;
    width: 70%;
    display: flex;
}

.col-25{
    background-color: blueviolet;
    width: 25%;
    border: 1px dashed black;
}

/* Bottom Section of the footer */
.bottom-bottom-s{
    padding: 10px 0px;
}

.bottom-bottom{
    background-color: aqua;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-logo{
    background-color: rgb(214, 150, 150);
}

