/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

/* COMMON */
.container{
    width: 100%;
    margin: 0 auto;
    border: 1px dashed black;
    /* Per i monitor landscape si usa max-width altrimenti sarà tutto dilatato */
    max-width: 1000px;
}

section{
    width: 100%;
    padding: 10px 0px;
}

ul{
    list-style-type: none;
}

.button{
    padding: 12px 20px;
    border-radius: 25px;
    font-weight: 500;
}

.white{
    color: #23272A;
    background-color: white;
}

.black{
    color: white;
    background-color: #23272A;
}

.blue{
    color: white;
    background-color: #7289DA;
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}

p{
    line-height: 28px;
    font-size: 18px;
}

/* HEADER */
header{
    display: flex;
    height: 70px;
    background-color: #255EE9;
    /* Per centrare in verticale, nell'header che spesso hanno un'altezza fissa, si usa line-height */
    line-height: 70px;
    min-height: 50px;
    padding: 10px 0px;

}

.menu{
    display: flex;
    align-items: center;
}

.link-c ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-c ul li{
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.logo-c{
    width: 20%;
    padding-left: 10px;
}

.logo-c img{
    display: flex;
    width: 60%;
}

.login-c{
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.link-c{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}

/* MAIN */

/* Top Section */
.top-s{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

/* only top-s content */
.top-content{
    width: 60%;
    margin: 150px auto;
    border: 1px dashed black;
    text-align: center;
    color: white;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.top-content > div {
    margin-top: 20px;

}

.top-button a{
    margin: 0 20px;
}


/* MAIN SECTION  */

/* Sezioni dispari */
.odd{
    background-color: #FFFFFF;
}

/* Sezioni pari */
.even{
    background-color: #F6F6F6;
}

.main{
    display: flex;
    align-items: center;
    border: 1px dashed black;
}

.text-content{
    width: 50%;
    padding: 50px;
}

.img-content{
    width: 50%;
}

.img-content img{
    width: 100%;
}

.reverse{
    flex-direction: row-reverse;
}

/* BOTTOM SECTION */

.bottom-s{
    padding-bottom: 100px;
}

.bottom-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.bottom-text h3{
    font-size: 30px;
    margin: 30px 0px 50px 0px;
}



/* FOOTER */
footer{
    background-color: rgb(29, 35, 35);
    width: 100%;
}

/* Top Section of the footer */
.top-bottom-c{
    margin-top: 50px;
    display: flex;
}

.col-30{
    width: 30%;
    padding: 20px;
}

.col-30 h3{
    font-size: 25px;
    color: #7289DA;
    margin-bottom: 10px;
}

.col-30 div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.col-30 img{
    width: 20px;
    margin-right: 10px;
}

.col-30 span, i{
    color: white;
    margin-right: 10px;
}

.col-70{
    width: 70%;
    display: flex;
}

.col-25{
    width: 25%;
    border: 1px dashed black;
}

.col-25 .first-li{
    color: #7289DA;
}

.col-25 li{
    margin-bottom: 15px;
    color: white;

}

/* Bottom Section of the footer */
.bottom-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-logo{
    display: flex;
    align-items: center;
}
